* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

.side-text {
    color: rgb(229, 235, 244);
    text-shadow:
        /* Light shadows for a soft glow */
        1px 2px 2px hsl(180, 17%, 98%),
        /* 1px 1px 1px hsl(180, 17%, 98%),
    -1px 1px 1px hsl(180, 17%, 98%),
    1px -1px 1px hsl(180, 17%, 98%),
    -1px -1px 1px hsl(180, 17%, 98%), */

        /* Darker shadows for 3D effect */
        1px 1px 2px rgba(193, 190, 190, 0.2),
        2px 2px 4px rgba(193, 190, 190, 0.2),
        3px 3px 6px rgba(193, 190, 190, 0.2),
        4px 4px 8px rgba(193, 190, 190, 0.2);
}

.hire-me {
    background: rgb(243, 1, 123);
    background: linear-gradient(73deg, rgba(243, 1, 123, 1) 0%, rgba(99, 14, 179, 1) 99%, rgba(99, 14, 179, 1) 100%);
}
.download-cv {
    background: rgb(241,246,251);
background: linear-gradient(109deg, rgba(241,246,251,1) 0%, rgba(253,253,255,1) 99%);
}